body {
        font-family: Arial, sans-serif; /*fonte da letra */ /**/
        background-color: #f4f4f4;/*cor de fundo da pagina */
        display: flex; /* criar um layout flexível, facilitando a centralização*/
        justify-content: center;/* Alinha o conteúdo horizontalmente ao centro*/
        align-items: center;/* Alinha o conteúdo verticalmente ao centro*/
        height: 110vh;/* Define a altura da página*/
        margin: 0;  /*Remove qualquer margem padrão do body*/
        

}
.form-container {
    background-color: rgb(255, 255, 255);/*cor de fundo do container*/
    border: 2px solid #0a0a0a; /* Borda ao redor do contêiner */
    padding: 20px; /*Define um espaçamento interno de 20px ao redor do conteúdo do contêiner*/
    border-radius: 8px; /* Bordas arredondadas */
    width: 400px;/* Largura do container */
    box-sizing: border-box;/* Inclui o padding e a borda no cálculo da largura */
   
  
}
h3 {
   
    color:#0a0a0a;/* Define a cor do título como preto*/
    
}
h2 {
   
    text-align: center;/*Centraliza o texto do título*/
    color: #000000;/* Define a cor do título como preto*/
    
}
label {
    font-size: 16px;/* Define o tamanho da fonte do label*/
    margin-bottom: 5px;/* Adiciona um espaço abaixo de cada label*/
    color: #000000;/*Define a cor do texto como preto*/
}
input[type="number"],select {
    padding: 10px;/* Define um espaçamento*/
    width: 350px;/*Define a largura*/
    box-sizing: border-box;/* Inclui o padding e a borda no cálculo da largura */
    border: 1px solid #ccc; /* Define uma borda cinza-claro  */
    margin-bottom: 5px;/* Adiciona um espaço abaixo dos campos de entrada*/
   
    
}

input[type="text"], select {
    width: 100%;/* Faz os campos de texto ocuparem 100% da largura*/
    padding: 10px;/* Define um espaçamento*/
    margin-bottom: 15px;/*Adiciona um espaçamento maior abaixo dos campos*/
    border: 1px solid #ddd;/*Define uma borda de cor cinza claro */
    border-radius: 4px;/*Aplica bordas arredondadas */
    box-sizing: border-box;/*Inclui o padding e a borda no cálculo da largura total*/
}

input[type="submit"] {
    background-color: #4CAF50;  /*cor de fundo do botão*/
    color: white;/* Define a cor do texto do botão como branco*/
    padding: 10px 15px;/* Define um espaçamento */
    border: none;/* Remove a borda padrão do botão*/
    border-radius: 4px;/* Aplica bordas arredondadas*/
    cursor: pointer;/* Aplica um cursor de "mãozinha" quando o mouse está sobre o botão*/
    width: 100%;/*Faz o botão ocupar 100% da largura*/
    font-size: 16px;/*Define o tamanho da fonte do botão*/
}

input[type="submit"]:hover {
    background-color: #45a049; /* Cor de fundo do botão ao passar o mouse */
}
